a:visited {
	FONT-WEIGHT: normal;
    COLOR: purple;

    TEXT-DECORATION: none
}
/*  Look at css-common.css
.Breadcrumb {
	FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Helvetica, Arial ;
    margin-left:270px;

}
*/

div#listmenu a {
    padding:0 6px;
    text-decoration:none;
    color:#069;
}
div#listmenu a:hover{
    color:#ff0000;
}
div#listmenu ul{
    float:right;
}

#content-container{
    margin-left:10px;
    float: left;
	width: 65%;
}

/* height and width details */
   .rbtop div, .rbtop, .rbbot div, .rbbot {
   width: 100%;
   height: 14px;
   font-size: 1px;
   }
   .rbcontent  { margin: 0 14px; }
   .rbroundbox { width: auto; margin:auto;}


h4 {
    background:none;
}


p {
    color: #666666;
    font-family:verdana;
}

.p2 {
    color: #3333ff;
    font-family:verdana;
    font-weight:bold;
}

h1{
    font-family:Verdana,Helvetica,sans-serif;
    
}

body{
    background-color:#b0c4de;
}

div#nav_query {
    position:absolute;
    width:255px;
}
div#paper_ref {
    position:absolute;
    width:255px;
}

div#content
	{
    position:absolute;
    margin-left:265px;
    margin-right:10px;
  
}

#content p
	{
	color:#3b3b3b;
	font-size: 1em;
	/*line-height: 1.3em; */
	font-family: arial, helvetica, sans-serif;
	}


div#boxQuery{
    float:left;
    padding-top:20px;
    padding-left:20px;
}
div#boxR {
    float:right;
}
div#boxL {
    float:left;
}


.pancontainer{
           position:relative; /*keep this intact*/
           overflow:hidden; /*keep this intact*/
           width:300px;
           height:300px;
           border:1px solid black;
       }
  
div#nav_query_border{
    background-color: #fbf9f9;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}



hr{
    border:0;
}