.label {
    font-size: 10px;
}

.atlasHelp {
    display: none;
}

/* tables */
.squery, .factab {
    font-family: arial, sans-serif;
    background-color: #CDCDCD;
    font-size: 8pt;
    text-align: left;
}
.squery {
    margin:0px 0pt 15px;
}
.factab {
    margin-bottom:3px;
}
.squery th, .factab th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
.squery td, .factab td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

.prefix { padding-right:5px;}
.speciesSelect { width: 120px; margin-right:5px; }

.expansion { padding-left: 10px;font-size: smaller;color:gray; }
.expansion .ignored { color: #cc0000; }
div.value select, div.value input.value { width:150px; }
div.value div.buttons { float: right; }
div.value div.input { float: left; }
div.value { width: 250px; margin-bottom:2px; }
#conditions td { vertical-align: top; }
#conditions td.factorvalue { padding-bottom: 10px; padding-left: 5px; }
#conditions td.andbuttons {  padding-bottom:10px; padding-left: 10px}
div.countup, div.countdn { width:50%;float:left;text-align:center; }
div.expref { clear:both;text-align:left;width:100%;background-color:#f0f0f0; }
td.counter,td.acounter, th.counter {text-align:center;width:25px;min-width:25px;vertical-align:middle; }
td.acounter:hover { cursor: pointer; }
td.common { white-space:nowrap; }
th.factor { text-align:center;font-weight:normal; }
th.factor em { font-weight:bold;font-style:normal;}
th.gene { vertical-align:middle;text-align:center; }
td.geneinfo em { font: inherit; background-color: #ffff66;text-decoration:inherit;  }

a.fup:link, a.fup:active, a.fup:hover, a.fup:visited { color: #660000;text-decoration: underline; }
a.fdn:link, a.fdn:active, a.fdn:hover, a.fdn:visited { color: #000066;text-decoration: underline; }
a.ftot:link, aftot:active, a.ftot:hover, a.ftot:visited { color: #666666;text-decoration: underline; }

.pagination { margin-top: 20px; text-align: left; }

.genelist { width: 90%; }
.genelist .item { margin-top: 10px;margin-bottom: 20px; }
.genename { font-size: 20px }
.ensname { font-size: smaller; }
.label { color: #666666;font-size: smaller; }
.genelist .item .efvs { margin-left: 30px; background:#f7f7f7;
    /*        border-bottom: 1px solid #cccccc;
       border-left: 1px solid #cccccc;
       border-right: 1px solid #cccccc;*/
    padding: 10px; }

.genelist .itemhead { padding: 5px; background: #f0f0f0;border: 2px solid #cccccc; }

.summary { margin-top: 10px; margin-bottom: 10px; }
.drilldowns { margin-bottom: 10px; margin-top: 10px; padding: 10px; }
.drillsect { float:left;padding: 5px; border-left:1px solid #cccccc; }
.drillsect ul { padding-left: 15px; }
.drillsect .name { font-weight: bold; }

.expopup {
    position: absolute;
    width: 500px;
    height: 300px;
    overflow: auto;
    margin-top: -5px;
    margin-left: -5px;
    background-color: #ffffe0;
    border: 1px solid black;
    padding: 10px;
    color: black;
    text-align:left;
}
.waiter {
    position: absolute;
    overflow: auto;
    margin-top: -5px;
    margin-left: -5px;
    border: 1px solid black;
    padding: 3px;
    background-color: white;
}

.expopup h1 {
    font-weight:bold;
    font-size:larger;
}
.expopup td {
    vertical-align:top;
    text-align: left;
}
.expopup th {
    vertical-align:top;
    text-align: left;
    font-weight: bold;
}
.expopup th.expup {
    background-color: #660000;
    color: #ff6666;
    font-weight: bold;
}
.expopup th.expdn {
    background-color: #000066;
    color: #6666ff;
    font-weight: bold;
}
.expopup td.expup {
    color: #990000;
}
.expopup td.expdn {
    color: #000099;
}
.expopup em { font-weight: bold; }
.closebox {
    float: right;
    color: black;
    font: bold 16px sans-serif;
    background-color:white;
    padding: 4px;
    border: 1px solid black; 
    cursor: pointer;
}
