#topcontainer { width: 740px; }

#twocol { padding: 0; margin: 5px 0 0 0; border-spacing: 0; }
#twocol td { border: none;vertical-align: top; padding: 0 10px 0 0; }

/* basic colors */
fieldset, #expopup, #expopup .exptable, #tooltip, #drill, #waiter
      { border: 1px solid #5E9E9E; }

#squery th, fieldset, #tooltip, #drill, #expopup
      { background-color: #EEF5F5; }

.closebox { color: #006666; }

#drilldowns .name, #drill h2 { color: #005555;  }
#drill h2 { font-size: 11pt;
            font-weight: bold;
            background: none;
            margin:0 0 15px 0; }

#summary { line-height: 25px; vertical-align:middle;padding-bottom: 5px; }
#pagetop { float: right; position: relative; right: -5px;} 

/* tables */
#squery {
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: left;
    margin: 0px 30px 15px 0px;
    padding: 0;
    border-spacing: 0px;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    empty-cells: show;
    *border-collapse: collapse; /* i luv IE */
}

#squery th {
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    *border-right: 1px solid #cdcdcd;
    *border-bottom: 1px solid #cdcdcd;
}
#squery .padded { padding: 1px 4px 1px 4px; }
#squery th.padded { vertical-align: middle;text-align: center; }

#squery th.factor { text-align:center;font-weight:normal; }
#squery th.factor div { position: relative; text-align:center; overflow:hidden; height: 15px;font-weight:bold;font-size:10px; }
#squery th.factor a { display: block; text-align:center; height: 12px;font-weight:bold; text-decoration: none; }

#squery td {
    color: #3D3D3D;
    background-color: #FFF;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    *border-right: 1px solid #cdcdcd;
    *border-bottom: 1px solid #cdcdcd;
}

#squery td.counter, #squery td.acounter {
    width:26px; min-width:26px; max-width:26px;
}

#squery td.acounter:hover { cursor: pointer; }

#squery td.genename { font-size: 12px; font-weight: bold; }

#squery em, #tooltip em { font: inherit; background-color: yellow;text-decoration:inherit;  }

.osq {
    width:26px; height:26px; position:relative; line-height: 26px; text-align: center;
}
.sq {
    width:26px; height:26px; position:relative;
}
.tri {
    width:0; height:0; font-size: 0;line-height: 0%;
    border-top: 26px solid;
    border-right: 26px solid;
    border-bottom-style: none;
}

.upval {
    position: absolute; top: 0px; left: 0px; z-index: 0; width: 13px; height: 13px; text-align: center; font-size: 10px;
}

.dnval {
    position: absolute; bottom: 1px; right: 1px; z-index: 0; width: 13px; height: 13px; text-align: center; font-size: 10px;
}

#squery .gtooltip { display: none; }

#squery img, #squery img:hover, map, area, map:hover, area:hover { border: none; cursor:default; }

/* form */

fieldset { padding:7px;display:block;margin:0; }
fieldset.top { margin-bottom: 10px;  }
legend { font-weight: bold; }

.ignored { color: #cc0000; }

#simpleform table, #structform table { width: 100%;border:none;margin:0;padding:0; }
#conditions select { width: 120px; }
#conditions td { vertical-align: middle; white-space:nowrap; text-align:left; padding-right:10px;padding-top:3px; }
#conditions td.left { width: 40%; }
#conditions td.value { width: 50%; }
#conditions td.rm { text-align: right;padding:0;width:10%; }
#structform input.value { width:340px;  }

.label {
    font-size: 10px;
}

/* drilldown filters */
#drill {  margin-bottom:15px; margin-top: 0px;padding: 7px; position: relative; }
.drillsect {  }
.drillsect ul { padding: 5px 0px 20px 0px;margin: 0; }
.drillsect li { padding-left: 10px; list-style: none; color: #999999; }
.drillsect .name { font-weight: bold; font-size: 12px; }
#drill a.fup:link, #drill a.fup:visited { text-decoration: none; color: #c5b0b0; }
#drill a.fdn:link, #drill a.fdn:visited { text-decoration: none; color: #b0b0c5; }
#drill a.fup:active, #drill a.fup:hover { text-decoration: underline; color: #e33e3e; }

/* experiments popup */

#expopup {
    font-family: Verdana, helvetica, arial, sans-serif;
    position: absolute;
    width: 500px;
    height: 300px;
    padding: 10px;
    color: black;
    text-align:left;
    z-index:2000;
}

#waiter {
    position: absolute;
    overflow: auto;
    padding: 3px;
    background-color: white;
    z-index:2000;
}

#expopup .exptable {
    position: relative;
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}

#expopup .head {
    font-weight:normal;
    font-size:12px;
}

#expopup .head a {
    font-size: 12px;
}

#expopup .exptable > table {
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

#expopup td.explot, #expopup td.expup, #expopup td.expdn  {
    white-space: normal;
    vertical-align:top;
    text-align: left;
    padding: 5px;
}

#expopup tr.notlast > td { border-bottom: 1px solid #5E9E9E; }

#expopup td.explot {
    border-right: 1px solid #5E9E9E;
}

#expopup td.expup {
    color: #990000;
}
#expopup td.expdn {
    color: #000099;
}
#expopup em { font-weight: bold; }

#expopup a:link, #expopup a:visited {
    color: #006666;
    text-decoration: none;
}

#expopup a:hover, #expopup a:active {
    color: #e33e3e;
    text-decoration: underline;
}

.closebox {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 10px;
    background-color:white;
    padding: 4px 8px 4px 8px;
    text-align: center;
    border-left: 1px solid #5E9E9E;
    border-bottom: 1px solid #5E9E9E; 
    cursor: pointer;
    z-index: 2500;
}

.closebox:hover {
    color: #e33e3e;
    text-decoration: underline;    
}

#tooltip {
	position: absolute;
	z-index: 3000;
    padding: 10px;
}

#tooltip .genename { margin-bottom: 10px;font-size:10px; }
#tooltip .genename b { font-weight: bold; font-size: 14px; }

.plot { position: relative; width: 240px; height: 100px; }

.ac_results li em {
    font-size: 10px;
    font-style: normal;
    color: #999999;
}

#efotext,.ignoretext {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

#efoexpand {
    display: none;
    margin: 10px 0 0 0;
    padding:0;
    border: none;
}

#efoexpand td { border: none; padding: 0 0 5px 10px;vertical-align:top; }
#efoexpand th { border: none; padding: 0 0 5px 0;vertical-align:top; }

#efotoggle {
    cursor:pointer;
    border: none; width:9px; height: 9px;
    vertical-align: baseline;
    padding-right: 2px;
}

.achide {
    padding: 5px 5px 5px 5px;
    text-align: left;
    color: #005555;
    background-color: #cdcdcd;
    font-weight: bold;
    font-size: 10px;
    border-top: 1px solid #5E9E9E;
    cursor: pointer;
}

.achide:hover {
    color: #e33e3e;
    text-decoration: underline;
}