<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <context-param>
        <description>SOLR Multicore Index Location</description>
        <param-name>solr_index_location</param-name>
        <!-- <param-value>/ebi/work/solr_idxs/multicore</param-value> -->
        <param-value>D:/tools/ebi_env/multicore</param-value>        
    </context-param>

    <listener>
        <listener-class>ae3.servlet.AtlasApplicationListener</listener-class>
    </listener>
    <servlet>
        <display-name>AE3 Query Servlet</display-name>
        <servlet-name>query</servlet-name>
        <servlet-class>ae3.servlet.QueryServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>query</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
</web-app>
