<?xml version="1.0" encoding="UTF-8"?>
<Context swallowOutput="true" docBase="${WAR_FILE}" unpackWAR="true" antiJARLocking="true" antiResourceLocking="true">
    <Resource
            name="jdbc/ATLAS2"
            type="javax.sql.DataSource"
            factory="org.apache.tomcat.dbcp.dbcp.BasicDataSourceFactory"
            driverClassName="oracle.jdbc.OracleDriver"
            url="${ATLAS_JDBC_URL}"
            username="${ATLAS_JDBC_USERNAME}"
            password="${ATLAS_JDBC_PASSWORD}"
            initialSize="6"
            maxIdle="32"
            maxActive="100"
            maxWait="-1"
            />

    <Resource
            name="file/GXAINDEX"
            type="java.util.File"
            factory="uk.ac.ebi.gxa.naming.factory.FileFactory"
            path="${ATLAS_INDEX}"
            />

    <Resource
            name="file/GXANETCDFS"
            type="java.util.File"
            factory="uk.ac.ebi.gxa.naming.factory.FileFactory"
            path="${ATLAS_NETCDF}"
            />

    <Resource
            name="uri/GXAEFO"
            type="java.net.URI"
            factory="uk.ac.ebi.gxa.naming.factory.URIFactory"
            path="${ATLAS_EFO_URI}"
            />

    <!-- ATLAS_EFO_URI  can be any external of file url too, e.g.
    value="http://efo.svn.sourceforge.net/svnroot/efo/trunk/src/efoinowl/InferredEFOOWLview/EFO_inferred.owl"/>-->
</Context>
