.pagination_ie {
            font-size: 80%;
            text-transform : capitalize;
        }
        
.pagination_ie a:link, .pagination_ie a:visited,.pagination_ie a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #1f7979;
	cursor: pointer;
}

.pagination_ie a:hover, .pagination_ie a:active {
    text-decoration: underline;
	border: solid 1px #AAE;
	color: #e33e3e;
	cursor: pointer;
}

.pagination_ie a, .pagination_ie span {


    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination_ie .current {
    background: #1f7979;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination_ie .current.prev, .pagination_ie .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

.pagination_ie a.prev, .pagination_ie a.next {
    color: #408c8c;
    border: solid 1px #AAE;
    background:#fff;
    float: none;
    height: auto;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}