<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxws="http://cxf.apache.org/jaxws"
      xmlns:simple="http://cxf.apache.org/simple"
      xmlns:soap="http://cxf.apache.org/bindings/soap"
      xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://cxf.apache.org/bindings/soap
http://cxf.apache.org/schemas/configuration/soap.xsd
http://cxf.apache.org/jaxws
http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/simple
http://cxf.apache.org/schemas/simple.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml"/>
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

  <simple:server
          id="AtlasWebService"
          serviceClass="ae3.service.webservices.AtlasWebServiceImpl"
          address="/AtlasWebService">
  	<simple:serviceBean>
  		<bean class="ae3.service.webservices.AtlasWebServiceImpl" />
  	</simple:serviceBean>
  	<simple:dataBinding>
  	    <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"/>
  	</simple:dataBinding>
  </simple:server>

</beans>